/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.content{
    flex: 1 1 auto;
}
body{
    font-family:Georgia serif;
}
.nav{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 40px;
}
.nav__block{
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, .34);
    align-items: center;
    height: 103px;
    width: 882px;
}
.nav__line{
    height: 3px;
    width: 745px;
    background-color: #000;
    opacity: 100%;
}
.nav__line1{
    height: 3px;
    width: 120px;
    background-color: #000;
    opacity: 100%;
}
.menu{
    padding: 20px;
}
.munu__link{
    color: #000;
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
}
.logo__img{
    height: 103px;
    margin-top: 10px;
    margin-right: 10px;
}
.calculate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(148, 212, 249,.42);
    height: 103px;
}
.index__fon{
    background: url(../img/fon-index.png)0 0/100% 100% no-repeat;
}
.about__fon{
    background: url(../img/fon-about.png)0 0/100% 100% no-repeat;
}
.project__fon{
    background: url(../img/fon-project.png)0 0/100% 100% no-repeat;
}
.prices__fon{
    background: url(../img/fon-price.png)0 0/100% 100% no-repeat;
}
.services__fon{
    background: url(../img/fon-services.png)0 0/100% 100% no-repeat;
}
.kont__fon{
    background: url(../img/fon-kont.png)0 0/100% 100% no-repeat;
}
.calculate__fon{
    background: url(../img/fon-calkulete.png)0 0/100% 100% no-repeat;
}
.ceiling__fon{
    background: url(../img/fon-celling.png)0 0/100% 100% no-repeat;
}
.architecture__fon{
    background: url(../img/fon-arxitectura.png)0 0/100% 100% no-repeat;
}
.construction__fon{
    background: url(../img/fon-build.png)0 0/100% 100% no-repeat;
}
.design__fon{
    background: url(../img/fon-dezign.png)0 0/100% 100% no-repeat;
}
.plot__fon{
    background: url(../img/fon-plot.png)0 0/100% 100% no-repeat;
}
.index__block{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
.about__block{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
.project__block{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
}
.construction__block{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.construction__block h1{
    padding-bottom: 30px;
}
.ceiling__block{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ceiling__block p{
    padding: 15px 0;
}
.services__block{
    max-width: 1200px;
    margin: 0 auto;
}
.services__block p{
    padding-bottom: 20px;
}
.prices__block{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 30px;
}
.plot__block{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}
.plot__block h3,h1{
    padding: 10px 0px;
}
.design__block{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 30px;  
}
.contacts__block{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
.contacts__block a{
    color: #000;
}
.left{
    text-align: right;
}
.center{
    text-align: center;
}
.fs40{
    font-size: 40px;
}
.fs36{
    font-size: 36px;
}
.fs28{
    font-size: 28px;
}
.lh49{
    line-height: 49px;
}
.lh45{
    line-height: 45px;
}
.lh35{
    line-height: 35px;
}
.text h1,h2{
    padding: 20px 0;
}
.pb70{
    padding-bottom: 70px;
}
.project{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.project__img{
    height:200px;
    width: 350px;
    margin: 40px;
    transition: 0.5s;
}
.project__img:hover,
.project__img:active{
    transform: scale(1.2);
}
.ceiling__items{
    display: flex;
    justify-content: center;

}
.ceiling__item{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ceiling__item p{
    font-size: 28px;
    padding:0px 20px;
}

.table{
    font-size: 30px;
    margin: 50px 0px;
}
.table th,td{
    padding: 5px;
}
.services__block{
    display: flex;
    flex-direction: column;
}
.services__row{
    display: flex;
    justify-content: center;
}
.services__item a{
    padding: 20px;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.services__item p{
    color: #000;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    
}
.services__item img{
transition: 0.5s;
width: 350px;
}
.services__item img:active,
.services__item img:hover{
    transform: scale(1.1);
}

.table__design td{
    vertical-align: top;
}
.construction__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.construction__item{
    width: 50%;
    font-size: 28px;
    padding: 10px;
}
.plot__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.plot__item{
    width: 50%;
    font-size: 28px;
    padding: 10px;
}
.design__item{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}
.design__img{
    width: 33%;
    margin: 0 10px;
}
.table__design{
    font-size: 24px;
}
.table__design td{
    width: 33%;
}
.footer{
    height: 60px;
    background-color:#e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer img{
    width: 40px;
}
.footer a{
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    font-size: 34px;
}